header {
	position: sticky;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	height: 90px;
	background-color: $white;
}

.header__logo {
	height: 100%;
	padding: 18px 23px;
	box-sizing: border-box;

	img {
		height: 100%;
	}
}

.header__nav-container {
	display: flex;

	@media (max-width: 1440px) {
		position: fixed;
		top: 90px;
		left: 0;
		transform: translateX(-100%);
		flex-direction: column;
		height: calc(100vh - 90px);
		width: 500px;
		max-width: 100%;
		background-color: $white;
		transition: transform 0.3s;

		&.active {
			transform: translateX(0%);
		}
	}
}

.header__nav-item,
.header__menu {
	@include p1;

	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 82px;
	border-left: 1px solid $grey;
	color: $black;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
	transition: color 0.3s;

	&:before {
		content: "";
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: $pink;
		transition: bottom 0.3s;
	}

	&.active,
	&:hover {
		color: $pink;

		&:before {
			bottom: 0;
		}
	}
}

.header__nav-item {
	@media (max-width: 1440px) {
		height: 60px;
		padding: 0 20px;
	}
}

.header__menu {
	display: none;

	@media (max-width: 1440px) {
		display: flex;
		padding: 0 20px;
	}
}
