#root {
	height: 100vh;
	width: 100vw;
	overflow: auto;
}

p {
	margin: 0;
	line-height: 100%;
}

$white: #fefefe;
$black: #313131;
$pink: #d70152;
$grey: #d1d1d1;
$grey2: #ecebe9;
$dark: #1a1d2a;

@mixin p1 {
	font-size: 16.01px;

	@media (max-width: 1440px) {
		font-size: 11.2px;
	}
}

@mixin p2 {
	font-size: 100px;

	@media (max-width: 1440px) {
		font-size: 70px;
	}
}

@mixin p3 {
	font-size: 20px;

	@media (max-width: 1440px) {
		font-size: 14px;
	}
}

@mixin p4 {
	font-size: 16px;

	@media (max-width: 1440px) {
		font-size: 11.2px;
	}
}

@mixin p5 {
	font-size: 50px;

	@media (max-width: 1440px) {
		font-size: 35px;
	}
}

@mixin p6 {
	font-size: 15.99px;

	@media (max-width: 1440px) {
		font-size: 11.2px;
	}
}

@mixin p7 {
	font-size: 14px;

	@media (max-width: 1440px) {
		font-size: 9.8px;
	}
}

@mixin p8 {
	font-size: 39.98px;

	@media (max-width: 1440px) {
		font-size: 28px;
	}
}

@mixin p9 {
	font-size: 19.99px;

	@media (max-width: 1440px) {
		font-size: 14px;
	}
}
